# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Some random stuff that i dont want to be committed
.env

dist
dist-ssr
*.local
package-lock.json
/front/package-lock.json
/front/node_modules
/back/package-lock.json
/back/node_modules
/back/http-client.private.env.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


