@import "tailwindcss";
@tailwind utilities;

/* TODO fix the fonts later!! */

@layer base {
    body {
        @font-face {
            font-family: 'Droid Sans Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
        }
        overflow-x: hidden;
    }
}

@layer components {
    .evil-border-outline-shadow {
        @apply border border-neutral-200 shadow hover:border-neutral-300 hover:shadow-neutral-400;
    },
    .r

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
}
